@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'text';
    src: url('./assets/fonts/DMSans_36pt-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
